<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <script>
        $(document).ready(function(){
            alert(1)
        })
    </script>

    <div class="mb-3">
        <label for="formGroupExampleInput3" class="form-label">Jenis Kelamin</label>
        <select name="gender" id="gender" class="form-control">
            <option value="">select</option>
            <option value="male">Laki-Laki</option>
            <option value="female">Perempuan</option>
        </select>
    </div>

    <div class="card-footer">
        <button type="button" class="btn btn-success btn-block">Tambah</button>
    </div>

    <form action="#" method="post"></form>

    <div class="container">
        <main class="mx-auto m-4">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header bg-info text-white">
                            <h4>List Anak</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-info table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nama</th>
                                        <th>Nama</th>
                                        <th>Nama</th>
                                        <th>Nama</th>
                                        <th>Nama</th>
                                        <th>Nama</th>
                                    </tr>
                                </thead>
                                <tbody id="DataAnak">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <main class="mx-auto">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h4>List Anak</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-info table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nama</th>
                                    <th>Nama</th>
                                    <th>Nama</th>
                                    <th>Nama</th>
                                    <th>Nama</th>
                                    <th>Nama</th>
                                </tr>
                            </thead>
                            <tbody id="DataAnak">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <h4>Table CRUD</h4>
    
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
</body>
</html>